.fadeinout
{
  animation: fadeinout 0.6s ease-in-out forwards;
}

@keyframes fadeinout
{
  0%{
    opacity:0;
  }
  100%
  {
    opacity:1;
  }
}

@media (max-width: 300.98px) { 
  .w-xs-100{
    width: 100%;
    margin-inline-start: 0px !important;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .col-small{
    width: 100%;
  }
}